[submodule "yara"]
	path = yara
	url = https://github.com/elastic/protections-artifacts.git
[submodule "tools/chkrootkit"]
	path = tools/chkrootkit
	url = https://github.com/Magentron/chkrootkit.git
[submodule "volatility3"]
	path = volatility3
	url = https://github.com/Mirtia/volatility3.git
